

<ion-content>

  <div class="queri">

    <div class="favicon">
      <img src="../../assets/img/favicon.png">
    </div>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>

    <ion-icon name="close-outline" class="icoclose" (click)="fechar()"></ion-icon>


    <div class="confirm1">

      <div class="teste">
        
        <h3>PEDIDO REALIZADO!</h3>

        <p class="p1">
          Enviamos um e-mail para você com
          a confirmação do pedido, detalhes e
          código de rastreio.
        </p>

        <p class="p2">Em breve,</p>

        <img src="../../assets/img/foto.png">

        <p class="p3">Maria Marcela</p>

        <p class="p4">vai receber seu<br>presente!</p>

        <ion-button shape="round" color="secondary" class="btn3" shape="round" color="secondary">Comprar mais<br>presente!</ion-button>

      </div>

    </div>

     
    </div>



  </ion-content>
  