

<ion-content>

  <div class="queri">

    <div class="favicon">
      <img src="../../assets/img/favicon.png">
    </div>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>

    <ion-icon name="close-outline" class="icoclose" (click)="voltar()"></ion-icon>


    <div class="conteudoconfirm">
      <h4 class="text5">COMO FUNCIONA?</h4>

      <p class="text6">
        A Daybee escolhe<br>
        o presente e o<br>
        envia para seu<br>
        Queridinho!
      </p>

      <img src="../../assets/img/comofunciona.png" class="como">

      <p class="text7">
        Escolha uma categoria e um valor
        estipulado para a compra do presente. 
        Não se preocupe com nada!
        A Daybee compra o presente de acordo
        com o perfil e a categoria escolhida por você.
      </p>

      <div class="btn">
        <ion-button shape="round" class="btn3" (click)="confirmar()">
          <ion-icon name="gift-outline"></ion-icon> Vamos presentear!
        </ion-button>
      </div>

    </div>



     
      <div class="espaco">

      </div>

      

    </div>

  </ion-content>
  