

<ion-content>

  <div class="queri">

    <div class="favicon">
      <img src="../../assets/img/favicon.png">
    </div>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>

    <ion-icon name="close-outline" class="icoclose" (click)="fechar()"></ion-icon>


    <div class="fotoperfil">
      <img src="../../assets/img/foto.png">
    </div>

    <div class="infos1">
      <div class="nome">
        <ion-icon name="home-outline" class="icohouse"></ion-icon>
        Maria Marcela 
        <ion-icon name="settings-outline" class="config"></ion-icon>
      </div>

      <div class="graus">
        <span class="grau">Mãe</span> 
        <span class="nascimento">20/05/1978</span>
      </div>

      <div class="interesses">
        <p><img src="../../assets/img/presente.png" class="calen">  Presentear</p>
      </div>

      <p class="des-p">
        Escolha uma categoria de presente e depois escolha um valor estipulado. A Daybee compra e envia o presente para seu Queridinho!
      </p>


      <div class="listapresentes">

        <p class="cat2">Categorias</p>

        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <div class="pres">
                <img src="../../assets/img/livro.png" (click)=" proximo()">
                <p>Livros</p>
              </div>
            </ion-col>
            <ion-col size="3">
              <div class="pres">
                <img src="../../assets/img/moda.png" (click)=" proximo()">
                <p>Moda</p>
              </div>
            </ion-col>
            <ion-col size="3"> 
              <div class="pres">
                <img src="../../assets/img/beleza.png" (click)=" proximo()">
                <p>Beleza</p>
              </div>
            </ion-col>
            <ion-col size="3"> 
              <div class="pres">
                <img src="../../assets/img/decoracao.png" (click)=" proximo()">
                <p>Decoração</p>
              </div>
            </ion-col>
            <ion-col size="3"> 
              <div class="pres">
                <img src="../../assets/img/chocolates.png" (click)=" proximo()">
                <p>Chocolates</p>
              </div>
            </ion-col>
            <ion-col size="3"> 
              <div class="pres">
                <img src="../../assets/img/casa.png" (click)=" proximo()">
                <p>Casa</p>
              </div>
            </ion-col>
            <ion-col size="3"> 
              <div class="pres">
                <img src="../../assets/img/informatica.png" (click)=" proximo()">
                <p>Informática</p>
              </div>
            </ion-col>
            <ion-col size="3"> 
              <div class="pres">
                <img src="../../assets/img/esportes.png" (click)=" proximo()">
                <p>Esportes</p>
              </div>
            </ion-col>
            <ion-col size="3"> 
              <div class="pres">
                <img src="../../assets/img/cestas-especiais.png" (click)=" proximo()">
                <p>Cestas<br>especiais</p>
              </div>
            </ion-col>
            <ion-col size="3"> 
              <div class="pres">
                <img src="../../assets/img/celulares.png" (click)=" proximo()">
                <p>Celulares</p>
              </div>
            </ion-col>
            <ion-col size="3"> 
              <div class="pres">
                <img src="../../assets/img/papelaria.png" (click)=" proximo()">
                <p>Papelaria</p>
              </div>
            </ion-col>
            <ion-col size="3"> 
              <div class="pres">
                <img src="../../assets/img/vale-presente.png" (click)=" proximo()">
                <p>Vale<br>presente</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>

      <div class="listapresentes2">
     </div>


    </div>


  </div>
  
  </ion-content>
  