ion-content{
    margin-bottom: 40px;
}

.btnpresentear {
    text-align: center;
    margin-top: 12px;
}

.btnpresentear img{
    margin-right: 10px;
}

.btnpres{
    height: 55px;
    --border-radius: 50px;
    border-radius: 50px;
    font-family: 'Montserrat-Bold', sans-serif !important;
    font-size: 16px;
}

.imgbtn{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btn22 p{
    color: #4C2A0B;
    font-size: 15px;
    font-family: 'Montserrat-Bold', sans-serif !important;
    line-height: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.btns3 {
    margin-top: -40px;
}

span.num1 {
    color: #fff !important;
    text-decoration: underline;
}

.relogio {
    color: #F6B215;
}

.linha1 {
    border: 2px solid #4C2A0B;
    background: #fff;
    border-radius: 15px;
}

.titulo33{
    text-align: center;
}

.titulo33 p{
    color: #F6D115;
    font-family: 'Montserrat-Bold', sans-serif !important;
    font-size: 18px;
}

.queri{
    background-image: url('../../assets/img/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    overflow:hidden;
    margin: 0 auto;
    
}

.icoclose{
    position: absolute;
    top: 23px;
    right: 12px;
    font-size: 30px;
}

.fotoperfil {
    width: 100%;
    text-align: center;
    margin-top: -35px;
}

.fotoperfil img{
    object-fit: cover;
    width: 100%;
    height: 110px;
    max-width: 110px;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.infos1 {
    text-align: center;
    background: #fff;
    padding: 65px 0 0 0;
    margin-top: -55px;
    height: 100%;
}

.nome {
    color: #4C2A0B;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Montserrat-Bold', sans-serif !important;
}

.config {
    position: relative;
    top: 4px;
    font-size: 23px;
}

.graus {
    margin-top: 15px;
}

.grau {
    border: 1px solid #4C2A0B;
    padding: 4px 15px;
    border-radius: 50px;
    margin-right: 10px;
    font-family: 'Montserrat-Bold', sans-serif !important;
}

.nascimento {
    border: 1px solid #4C2A0B;
    padding: 4px 15px;
    border-radius: 50px;
    font-family: 'Montserrat-Bold', sans-serif !important;
}

.interesses {
    margin-top: 35px;
}

.interesses p{
    font-family: 'Montserrat-Bold', sans-serif !important;
}

.tag{
    border: 1px solid #4C2A0B;
    padding: 4px 15px;
    border-radius: 50px;
    font-family: 'Montserrat-Bold', sans-serif !important;  
    background: #F6D115;
    font-size: 12px;
    margin-right: 10px;
}

.plus{
    background: #9D55D4;
    color: #fff;
    font-size: 12px;
    padding: 4px 15px;
    border-radius: 50px;
    border: 1px solid #4C2A0B;
}

.favicon img{
    width: 100%;
    max-width: 60px;
    position: relative;
    left: 12px;
    top: 15px;
}

.titulo1 {
    text-align: center;
    margin-top: 10px;
}

.titulo1 h2{
    color: #4C2A0B;
    font-weight: 800;
    font-family: 'Montserrat-Bold', sans-serif !important;
    font-size: 27px;
    margin-bottom: 30px;
}

ion-list{
    background: transparent;
}

ion-item{
    background: transparent;
}

.resumo{
    background: #4C2A0B;
    padding: 5px 0 45px;
}

.resumo h2{
    text-align: center;
    color: #4C2A0B;
    font-size: 20px;
    font-family: 'Montserrat-Bold', sans-serif !important;
}

.item2{
    height: 42px;
}

.trash{
    margin-inline-end: 10px !important;
    color: #4C2A0B;
}

.trash ion-icon{
    font-size: 25px;
}

.trash2{
    margin-inline-end: -10px !important;
    margin-inline-start: 30px;
}

.trash2 ion-icon{
    font-size: 25px;
}

.nomes1 span{
    color: #4C2A0B;
    font-size: 17px;
    font-weight: 800;
}

.nomes1 p{
    color: #F6B215;
    font-family: 'Montserrat-SemiBoldItalic';
}

.nomes2{
    color: #4C2A0B;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Montserrat-Bold';
}

.nomes2 p{
    color: #4C2A0B;
    font-family: 'Montserrat-Bold';
    font-size: 13px;
}

.nomes2 span{
    font-size: 17px;
}

.data {
    color: #F6D115;
    font-weight: 800;
    font-size: 15px;
    font-family: 'Montserrat-SemiBold';
    position: relative;
    top: -7px;
    margin-right: 10px;
}

.dot {
    position: relative;
    top: -4px;
    color: #4C2A0B;
    margin-left: 5px;
}

.pdest {
    text-transform: uppercase;
    background: #fff;
    font-size: 11px !important;
    padding: 0 7px;
    border-radius: 50px;
}

.pdest2 {
    text-transform: uppercase;
    font-size: 11px !important;
}

ion-list{
    background: transparent;
}

ion-item{
    background: transparent;
}

.itens2{
    border-bottom: 1px solid #fff;

}

.icohouse {
    font-size: 21px;
    position: relative;
    top: 1px;
}

.form {
    padding: 0 15px;
}

.form ion-item {
    --background: rgba(0,0,0,0);
    --border-color: rgba(0,0,0,0);
    border-bottom: 1px solid #4C2A0B;
    --highlight-background: rgba(0,0,0,0);
    height: 45px;
}

.form ion-input{
    color: #F6B215 !important;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    --placeholder-opacity: 1;
}

.tags {
    margin-top: 40px;
}

.gadge2{
    padding: 7px 15px;
    border-radius: 50px;
    border: 1px solid #4C2A0B;
    margin-right: 10px;
    margin-bottom: 5px;
}

.calen {
    position: relative;
    top: 4px;
    margin-right: 3px;
}

.div22 {
    text-align: center;
    color: #4C2A0B;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
}

.tags33 {
    text-align: center;
    background: #fff;
    padding: 40px 10px 40px;
}

.edit2{
    margin-left: 10px;
    position: relative;
    top: 3px;
}

.imgbtn {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btn22 p {
    color: #4C2A0B;
    font-size: 15px;
    font-family: 'Montserrat-Bold', sans-serif !important;
    line-height: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.grid22{
    width: 100%;
    max-width: 145px;
}

.btn22 {
    background: #fff;
    height: 100%;
}

.spanselec{
    background: #F6D115;
    color: #4C2A0B;
    padding: 7px 13px;
    border-radius: 50px;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 5px;
}

ion-badge {
    background: transparent;
    color: #4C2A0B;
    padding: 7px 13px;
    border-radius: 50px;
    border: 1px solid #4C2A0B;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 5px;
}

img.calen {
    width: 20px;
}

.select0 {
    width: 100%;
    max-width: 47px !important;
    background: #F6D115;
    border: 1px solid #4C2A0B;
    border-radius: 50px 0 0 50px;
    padding: 4px 0 4px 7px;
    float: left;
}

.select1 {
    width: 100%;
    max-width: 70px !important;
    background: #F6D115;
    border: 1px solid #4C2A0B;
    border-radius: 50px 50px 50px 50px;
    padding: 4px 0 4px 7px;
    text-align: center;
    float: right;
    position: relative;
    z-index: 9999;
}

.select2 {
    width: 100%;
    max-width: 60px !important;
    background: #fff;
    border: 1px solid #4C2A0B;
    border-radius: 0 50px 50px 0;
    padding: 4px 0 4px 7px;
}

.end {
    width: 120px;
    margin-inline-start: 5px !important;
}

.des-p {
    padding: 0 15px;
    font-family: 'Montserrat-Regular', sans-serif !important;
    font-size: 14px;
    height: 50px;
}

.listapresentes {
    background: #9D55D4;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    padding: 25px 10px;
    position: relative;
}

.listapresentes ion-col{

}

.pres{
    text-align: center;
}

.pres img{
    width: 50px;
}

.pres p{
   color: #fff; 
   font-family: 'Montserrat-Bold', sans-serif !important;
   font-size: 13px;
   margin: 0;
}

.bloc1 img{
    width: 80px;
}

.bloc1 p{
    color: #fff; 
    font-family: 'Montserrat-Bold', sans-serif !important;
    font-size: 18px; 
    margin: 0 auto;
}

.setas{
   margin-top: 10px; 
}

.left1 {
    background: #fff;
    padding: 8px;
    border-radius: 50%;
    font-size: 22px;

}

.right1 {
    background: #F6D115;
    padding: 8px;
    border-radius: 50%;
    font-size: 22px;

}

.p22 {
    color: #fff;
    padding: 0 15px;
    font-family: 'Montserrat-Regular', sans-serif !important;
    font-size: 14px;
}

ion-col{
    margin: 0 auto;
}


.precos{
    margin-top: 15px;
    padding: 0 20px;
}

.notspanselec{
    color: #4C2A0B;
    background: #fff;
    border-color: #fff;
    font-size: 18px;
    font-family: 'Montserrat-Bold', sans-serif !important;
    padding: 10px 10px;
}

.spanselec{
    background: #F6D115;
    border-color: #F6D115;
    color: #4C2A0B;
    font-family: 'Montserrat-Bold', sans-serif !important;
    padding: 10px 10px;
    font-size: 18px;
}

.notspanselec span{
    font-size: 25px;
}

.spanselec span{
    font-size: 25px;
}

.listapresentes2 {
    background: #9D55D4;
    width: 100%;
    height: 70px;
    margin-top: -5px;
}
