.login2{
    background-image: url('../../assets/img/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    overflow:hidden;
    margin: 0 auto;
    padding: 30px 30px;
}

.logo{
    text-align: center;
}

.logo img{
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
}

.p2{
    font-family: 'Montserrat-Regular';
    color: #000 !important;
    font-size: 15px;
}

ion-slide{
    padding-bottom: 10px;
    display: block !important;
}

ion-slides {
    --bullet-background: #D7670A !important;
    --bullet-background-active: #4C2A0B !important;
}

.icoinsta{
    color: #fff !important;
    font-size: 25px;
    margin-right: 7px;
}

.icoface{
    color: #fff !important;
    font-size: 25px; 
}

.form{
    padding: 0 15px;
}

.form ion-item {
    --background: rgba(0,0,0,0);
    --border-color: rgba(0,0,0,0);
    border-bottom: 1px solid #000;
    --highlight-background: rgba(0,0,0,0);
}

.form ion-input{
    color: #000 !important;
}

.form ion-label{
    font-weight: 700;
    color: #000 !important;
    font-size: 20px;
}

.linha1{
    margin-top: 10px;
    position: relative;
}

.esqueci {
    color: #000;
    font-size: 13px;
    text-decoration: underline;
    position: relative;
    left: 0;
    top: 5px;
    float: left;
}

.cad{
    position: relative;
    right: 0;
    top: 5px;
    color: #000 !important;
    font-weight: 700;
    float: right;
}

.btns4{
    margin-top: 70px;
}

.btn2{
    background: #D74D0A;
    border: 1px solid #000;
    padding: 12px 20px;
    border-radius: 50px;
    width: 100%;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.btns4 .fab{
    margin-right: 7px;
    font-size: 20px;
}

.ou {
    margin: 0;
    text-align: center;
    color: #4C2A0B;
    font-family: 'Montserrat-Regular';
}