.conteudo{
   height: 100vh;
}

.div1{
    width: 100%;
    height: 50%;
    overflow:hidden;
    margin: 0 auto;
    background-image: url('../../assets/img/bg-top.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 30px;
}

.div2{
    width: 100%;
    height: 50%;
    overflow:hidden;
    margin: 0 auto;
    background-image: url('../../assets/img/bg-bottom.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.div1 h1{
    font-family: 'Montserrat-Bold';
    line-height: 36px;
    margin-bottom: 0 !important;
    font-size: 37px;
    color: #fff !important;
}

.div2{
    padding: 50px 20px;
}

.div2 p{
    font-family: "Montserrat-Bold";
    color: #000;
    font-size: 17px;
    line-height: 17px;
    text-align: inherit;
    margin-bottom: 25px;
    font-weight: 700;
}

.btn2{
    background: #D7670A !important;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 50px;
    //box-shadow: 2px 2px 7px rgb(50 50 50 / 30%);
    color: #fff !important;
    font-size: 20px;
    margin-top: 30px;
}

ion-slides {
    height: 100%;
}

.bloco1{
    text-align: center;
    padding: 50px 20px;
}

.bee1{
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
}

.bee2{
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
}

.slide1{
    display: block;
}

ion-slides {
    --bullet-background: #D7670A !important;
    --bullet-background-active: #4C2A0B !important;
}

.swiper-pagination-bullets {
    bottom: 80px !important;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 80px !important;
  }


