

<ion-content>

  <div class="conteudo">

    <ion-slides pager="true" [options]="slideOpts">
      
      <ion-slide class="slide1">

        <div class="div1">
          <h1>Cadastre
            seu primeiro
            queridinho!</h1>
    
            <img src="../../assets/img/bee1.png" class="bee1"><br>
        </div>

        <div class="div2">
          <p>Escolha aquela pessoa especial para você parabenizar e enviar presentes!</p>

          <button class="btn2">Cadastre seu<br>primeiro queridinho</button>

        </div>

      </ion-slide>

      <ion-slide class="slide1">

        <div class="div1">
          <h1>Nós te lembramos das datas especiais!</h1>
    
            <img src="../../assets/img/bee2.png" class="bee1"><br>
        </div>

        <div class="div2">
          <p>Não se preocupe com nada. Vamos sempre te avisar com antecedência!</p>

          <button class="btn2">Cadastre seu<br>primeiro queridinho</button>

        </div>

      </ion-slide>

      <ion-slide class="slide1">

        <div class="div1">
          <h1>Deixe o presente com a gente!</h1>
    
            <img src="../../assets/img/bee3.png" class="bee1"><br>
        </div>

        <div class="div2">
          <p>Escolha um valor para gastar com o presente e iremos escolher pra você.</p>

          <button class="btn2">Cadastre seu<br>primeiro queridinho</button>

        </div>

      </ion-slide>

      <ion-slide class="slide1">

        <div class="div1">
          <h1>Conte com<br>a Daybee!</h1>
    
            <img src="../../assets/img/bee4.png" class="bee2"><br>
        </div>

        <div class="div2">
          <p>Nossa abelhinha cuida<br>de tudo pra você!</p>

          <button class="btn2">Vamos lá</button>

        </div>

      </ion-slide>


    </ion-slides>

    
  </div>


</ion-content>
