@media screen and (max-width: 390px) {
    .div1 h1{
        line-height: 32px !important;
        font-size: 25px !important;
    }

    .bee1{
        margin-top: 0 !important;
    }
    
    .bee2{
        margin-top: 0 !important;
    }
}

@media screen and (max-width: 320px) {
    .div1 h1{
        line-height: 30px !important;
        font-size: 22px !important;
        margin-top: 0 !important;
    }

    .bee1{
        margin-top: 0 !important;
    }
    
    .bee2{
        margin-top: 0 !important;
    }
}

@media screen and (min-width: 768px) {
    .div1 h1{
        line-height: 50px !important;
        font-size: 40px !important;
        margin-top: 0 !important;
    }

    .bee1{
        max-width: 500px !important;
        margin-top: 20px !important;
    }
    
    .bee2{
        max-width: 500px !important;
        margin-top: 20px !important;
    }

    .div2 p{
        font-size: 30px !important;
        line-height: 35px !important;
    }

    .btn2{
        padding: 15px 50px !important;
        font-size: 30px !important;
    }
}

@media screen and (max-width: 1025px) and (min-width: 769px){
    .div1 h1{
        line-height: 62px !important;
        font-size: 62px !important;
        margin-top: 30px !important;
    }

    .bee1{
        max-width: 700px !important;
        margin-top: 20px !important;
    }
    
    .bee2{
        max-width: 700px !important;
        margin-top: 20px !important;
    }

    .div2 p{
        font-size: 40px !important;
        line-height: 40px !important;
    }

    .btn2{
        padding: 20px 70px !important;
        font-size: 45px !important;
    }
}

.close1 {
    position: absolute;
    color: #fff;
    font-size: 30px;
    right: 10px;
    top: 10px;
    z-index: 999;
}


.conteudo{
   height: 100vh;
}

.div1{
    width: 100%;
    height: 50%;
    overflow:hidden;
    margin: 0 auto;
    background-image: url('../../assets/img/bg-top.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 30px;
}

.div2{
    width: 100%;
    height: 50%;
    overflow:hidden;
    margin: 0 auto;
    background-image: url('../../assets/img/bg-bottom.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.div1 h1{
    font-family: 'Montserrat-ExtraBold', sans-serif !important;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 0 !important;
    font-size: 35px;
    color: #fff !important;
}

.div2{
    padding: 50px 20px;
}

.div2 p{
    font-family: "Montserrat-Bold", sans-serif !important;
    color: #000;
    font-size: 17px;
    line-height: 17px;
    text-align: inherit;
    margin-bottom: 25px;
    font-weight: 700;
}

.btn2{
    background: #D7670A !important;
    font-family: 'Montserrat-Bold', sans-serif !important;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 50px;
    //box-shadow: 2px 2px 7px rgb(50 50 50 / 30%);
    color: #fff !important;
    font-size: 20px;
    margin-top: 30px;
}

ion-slides {
    height: 100%;
}

.bloco1{
    text-align: center;
    padding: 50px 20px;
}

.bee1{
    width: 100%;
    max-width: 350px;
    margin-top: 20px;
}

.bee2{
    width: 100%;
    max-width: 350px;
    margin-top: 20px;
}

.slide1{
    display: block;
}

ion-slides {
    --bullet-background: #D7670A !important;
    --bullet-background-active: #4C2A0B !important;
}

.swiper-pagination-bullets {
    bottom: 80px !important;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 80px !important;
  }


