<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab1" class="tab11">
      <ion-label><img src="../../assets/img/ico1.png"></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-label><img src="../../assets/img/ico2.png"></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-label><img src="../../assets/img/ico3.png"></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-label><img src="../../assets/img/ico4.png"></ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
