

<ion-content>

  <div class="queri">

    <div class="favicon">
      <img src="../../assets/img/favicon.png">
    </div>

    <div class="titulo1">
     <h2>Meus Queridinhos</h2>
    </div>

    <div class="resumo">

      <h2>Datas se aproximando:</h2>

      <ion-list lines="none">

          <ion-item button class="item2">
            
            <div class="trash" slot="start">
              <ion-icon name="trash-outline"></ion-icon>
            </div>

            <ion-label class="nomes1">
              <span>Niver do Paulo</span>  
              <p>Faltam 03 dias!</p>
            </ion-label>

            <div class="end" slot="end">
              <span class="dot">..............</span>
              <span class="data">09/05</span>  
              <img src="../../assets/img/gift1.png" (click)="presentear()">
            </div>
            
          </ion-item>

          <ion-item button class="item2">
            
            <div class="trash" slot="start">
              <ion-icon name="trash-outline"></ion-icon>
            </div>

            <ion-label class="nomes1">
              <span>Dia das Mães</span>  
              <p>Faltam 08 dias!</p>
            </ion-label>

            <div class="end" slot="end">
              <span class="dot">..............</span>
              <span class="data">15/05</span>  
              <img src="../../assets/img/gift1.png" (click)="presentear()">
            </div>
            
          </ion-item>

          <ion-item button class="item2">
            
            <div class="trash" slot="start">
              <ion-icon name="trash-outline"></ion-icon>
            </div>

            <ion-label class="nomes1">
              <span>Niver da Joana</span>  
              <p>Faltam 10 dias!</p>
            </ion-label>

            <div class="end" slot="end">
              <span class="dot">..............</span>
              <span class="data">25/05</span>  
              <img src="../../assets/img/gift1.png" (click)="presentear()">
            </div>
            
          </ion-item>

       </ion-list>


    </div>


    <ion-list lines="none" style="margin-bottom: 30px;">

      <ion-item button color="transparent" class="itens2">

        <ion-avatar slot="start">
          <img src="../../assets/img/foto.png">
        </ion-avatar>

        <ion-label class="nomes2" (click)="detalhes2()">
          <span>Maria Marcela</span>  
          <p>Mãe, aniversário: 20/05</p>
          <p class="pdest">Faltam 20 dias, vamos presentear?</p>
        </ion-label>

        <div class="end" slot="end">
          <img src="../../assets/img/gift1.png" (click)="presentear()">
        </div>
        
      </ion-item>

      <ion-item button color="transparent" class="itens2">

        <ion-avatar slot="start">
          <img src="../../assets/img/foto2.png">
        </ion-avatar>

        <ion-label class="nomes2" (click)="detalhes2()">
          <span>João Barros</span>  
          <p>Amigo, aniversário: 15/02</p>
          <p class="pdest2">Faltam 45 dias</p>
        </ion-label>

        <div class="end" slot="end">
          <img src="../../assets/img/gift1.png" (click)="presentear()">
        </div>
        
      </ion-item>

      <ion-item button color="transparent" class="itens2">

        <ion-avatar slot="start">
          <img src="../../assets/img/foto3.png">
        </ion-avatar>

        <ion-label class="nomes2" (click)="detalhes2()">
          <span>Tatiana Almeida</span>  
          <p>Amiga, aniversário: 08/10</p>
          <p class="pdest2">Faltam 150 dias</p>
        </ion-label>

        <div class="end" slot="end">
          <img src="../../assets/img/gift1.png" (click)="presentear()">
        </div>
        
      </ion-item>

   </ion-list>
  
  </div>
  
  </ion-content>
  