

<ion-content>

  <div class="queri">

    <div class="favicon">
      <img src="../../assets/img/favicon.png">
    </div>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>

    <ion-icon name="close-outline" class="icoclose" (click)="fechar()"></ion-icon>

    <div class="bloco1">
      <h3>Daybee Premium</h3>
      <p>Com a Daybee, aquele presente especial
        está a apenas um click!</p>
    </div>


    <div class="plano">

      <h3>Plano mensal</h3>

      <p class="p1">Com o plano mensal, você não precisa
        estipular valores para compra de presentes.
        A única coisa que precisa fazer é nos avisar
        quando quiser comprar algo novo para
        os seus Queridinhos!</p>

        <p class="preco">R$<span>4,90</span>/mês</p>

        <p class="p2">Próxima cobrança: 10/06/2021<br>
          Total de R$ 54,90 / ano<br>
          Renovação automática</p>

    </div>


    <div class="btn">
      <ion-button shape="round" class="btn3" (click)="assinar()">Assinar agora mesmo!</ion-button>
    </div>
    
     
      <div class="espaco">

      </div>

      

    </div>

  </ion-content>
  