
<ion-content>

  <div class="login2">
  
    <div class="logo">
      <img src="../../assets/img/logo.png">
    </div>

    <p class="p2">Insira seu e-mail de cadastro para receber instruções de recuperação de senha.</p>
  
    <div class="form">
      <ion-item>
        <ion-label position="floating">Seu e-mail</ion-label>
        <ion-input [(ngModel)]="email"></ion-input>
      </ion-item>
  
      <div class="linha1">
        <a class="esqueci" (click)="login()">Voltar ao Login</a>
      </div>
  
      <div class="btns4">
        <button class="btn2" (click)="recuperar()">Recuperar senha</button><br>
      </div>

      <div class="linha1">
        <a class="esqueci" (click)="codigo()">Já tenho o código de recuperação</a>
      </div>
  
    </div>
  
  </div>
  
  </ion-content>
  