
<ion-content>

  <div class="login2">
  
    <div class="form">
      
      <div class="imagem">
        <img src="../../assets/img/foto.png" class="foto">
        <img src="../../assets/img/camera.png" class="camera" (click)="presentActionSheet()">
      </div>

      <div class="nomeedit">
        <span>Maria Marcela</span> 
        <img src="../../assets/img/edit.png">
      </div>

      <div class="fami">
        <span class="mae">Mãe</span>
        <span class="mae">20/05/1978</span>
      </div>

      <p class="p22">
        Datas comemorativas as quais quero ser avisado
      </p>

      <div class="nomeedit2">
        <span>Data personalizada</span> 
        <img src="../../assets/img/edit.png">
      </div>

      <div class="form">

        <div class="tags">
          
          <ion-badge class="spanselec" id="id1" (click)="id1()">Dia das Mães</ion-badge>
          <ion-badge class="" id="id2" (click)="id2()">Dia dos Pais</ion-badge>
          <ion-badge class="" id="id3" (click)="id3()">Dia dos Avós</ion-badge>
          <ion-badge class="" id="id4" (click)="id4()">Páscoa</ion-badge>
          <ion-badge class="" id="id5" (click)="id5()">Dia do Oftalmologista</ion-badge>
          <ion-badge class="" id="id6" (click)="id6()">Dia do Amigo</ion-badge>
          <ion-badge class="spanselec" id="id7" (click)="id7()">Dia da Mulher</ion-badge>
          <ion-badge class="" id="id8" (click)="id8()">Dia do Irmão</ion-badge>
          <ion-badge class="" id="id9" (click)="id9()">Dia do Abraço</ion-badge>

        </div>

    
        <div class="linha1">
          <ion-icon name="arrow-forward-outline" (click)="proximo()"></ion-icon>
        </div>
  
      </div>
      
    </div>
  
  </div>
  
  </ion-content>

  