
<ion-content>

  <div class="login2">
  
    <div class="logo">
      <img src="../../assets/img/logo.png">
    </div>

    <p class="p2">Crie uma conta</p>
  
    <div class="form">
      <ion-item>
        <!--<ion-label position="floating">Qual seu nome</ion-label>-->
        <ion-input placeholder="Qual seu nome"></ion-input>
       
      </ion-item>
  
      <div class="linha1">
        <ion-icon name="arrow-forward-outline" (click)="proximo()"></ion-icon>
      </div>
  
      <div class="btns4">
        <a (click)="login()">Entre com Google ou Facebook</a>
      </div>

      
  
    </div>
  
  </div>
  
  </ion-content>

  