
<ion-content>

  <div class="login2">
  
    <div class="form">
      
      <div class="imagem">
        <img src="../../assets/img/foto.png" class="foto">
        <img src="../../assets/img/camera.png" class="camera" (click)="presentActionSheet()">
      </div>

      <div class="nomeedit">
        <span>Maria Marcela</span> 
        <img src="../../assets/img/edit.png">
      </div>

      <div class="form">

        <div class="select1">
          <select id="appearance-select">   
            <option style="background: none;">Mãe</option>
            <option>Pai</option>
            <option>Avó</option>
            <option>Avô</option>
            <option>Irmã</option>
            <option>Imão</option>
            <option>Amigo</option>
          </select>

          <img src="../../assets/img/down.png" class="down">
        </div>
      
    
        <div class="linha1">
          <ion-icon name="arrow-forward-outline" (click)="proximo()"></ion-icon>
        </div>
  
      </div>
      
    </div>
  
  </div>
  
  </ion-content>

  