.login2{
    background-image: url('../../assets/img/bg3.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    overflow:hidden;
    margin: 0 auto;
    padding: 50px 10px;

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.select1{
    position: relative;
    border-bottom: 1px solid #fff;
}

.select1 select:focus{
    border: none !important;
    outline: none;

}

.select1 option{
 background: rgba(255, 255, 255, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.select1 option:selected {
    background: #a680c4 !important;
}

.select1 option:focus {
    background: #a680c4 !important;
}

option{
    background: #a680c4 !important;
}

.down {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 99;
}



#appearance-select{   
    -webkit-appearance: none;  
    /* Remove estilo padrão do Chrome */   
    -moz-appearance: none; 
    /* Remove estilo padrão do FireFox */   
    appearance: none; 
    /* Remove estilo padrão do FireFox*/   
   /* background: url(../../assets/img/down.png) no-repeat;*/
   background: none;
    ;  
    /* Imagem de fundo (Seta) */   
    background-position: 258px center;  
    /*Posição da imagem do background*/   
    width: 100%; 
    /* Tamanho do select, maior que o tamanho da div "div-select" */   
    height:45px; 
    /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */   
    border: none;
    color: #fff;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 30px;
   
    position: relative;
    z-index: 999;
}


.nomeedit span{
    color: #fff;
    font-size: 24px; 
    font-family: 'Montserrat-Bold', sans-serif;
}

.nomeedit img{
   margin-left: 5px; 
}




.form{
    padding: 0 15px;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

.imagem{
    position: relative;
    width: 100px;
    margin: 0 auto;
}

.foto{
    width: 100%;
    max-width: 100px;
}

.camera{
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 25px;
}

.form ion-item {
    --background: rgba(0,0,0,0);
    --border-color: rgba(0,0,0,0);
    border-bottom: 1px solid #fff;
    --highlight-background: rgba(0,0,0,0);
}

.form ion-input{
    color: #fff !important;
    text-align: center;
    font-size: 25px;
    --placeholder-opacity: 1;
}

.form ion-label{
    font-weight: 700;
    color: #fff !important;
    font-size: 25px;
    text-align: center;
}

.form ion-label .has-focus{
   transform: translateY(50%) scale(0) !important;
}

.linha1{
    margin-top: 10px;
    text-align: center;
}

.linha1 ion-icon{
    font-size: 30px;
    color: #fff !important;
    margin-top: 10px;
}

.esqueci {
    color: #000;
    font-size: 13px;
    text-decoration: underline;
    left: 0;
    top: 5px;
}

.cad{
    position: relative;
    right: 0;
    top: 5px;
    color: #000 !important;
    font-weight: 700;
    float: right;
}

.btns4{
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    top: 92px;
}

.btns4 a{
    text-decoration: underline;
    color: #000;
}

.btn2{
    background: #D74D0A;
    border: 1px solid #000;
    padding: 12px 20px;
    border-radius: 50px;
    width: 100%;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
}

.btns4 .fab{
    margin-right: 7px;
    font-size: 20px;
}

.form{
    padding: 0 15px;
}

.form ion-item {
    --background: rgba(0,0,0,0);
    --border-color: rgba(0,0,0,0);
    border-bottom: 1px solid #fff;
    --highlight-background: rgba(0,0,0,0);
}

.form ion-input{
    color: #fff !important;
    text-align: center;
    font-size: 25px;
    --placeholder-opacity: 1;
}

.form ion-label{
    font-weight: 700;
    color: #fff !important;
    font-size: 25px;
    text-align: center;
}

.form ion-label .has-focus{
   transform: translateY(50%) scale(0) !important;
}