
<ion-content>

  <div class="login2">
  
    <div class="form">
      
      <div class="imagem">
        <img src="../../assets/img/foto.png" class="foto">
        <img src="../../assets/img/camera.png" class="camera" (click)="presentActionSheet()">
      </div>

      <div class="nomeedit">
        <span>Maria Marcela</span> 
        <img src="../../assets/img/edit.png">
      </div>

      <div class="fami">
        <span class="mae">Mãe</span>
      </div>

      <p class="p22">
        Conte-nos qual é a data de aniversário do(a) queridinho(a)
      </p>

      <div class="form">

        <div class="datanasc">
          <ion-datetime value="0000-00-00T15:43:40.394Z" displayFormat="DD/MM/YYYY" display-timezone="utc" class="data2"></ion-datetime>
        </div>

        <span class="dataniver">
          Data de aniversário
        </span>
 
    
        <div class="linha1">
          <ion-icon name="arrow-forward-outline" (click)="proximo()"></ion-icon>
        </div>
  
      </div>
      
    </div>
  
  </div>
  
  </ion-content>

  