

<ion-content>

  <div class="queri">

    <div class="favicon">
      <img src="../../assets/img/favicon.png">
    </div>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>

    <ion-icon name="close-outline" class="icoclose" (click)="fechar()"></ion-icon>


    <div class="fotoperfil">
      <img src="../../assets/img/foto.png">
    </div>

    <div class="infos1">
      <div class="nome">
        <ion-icon name="home-outline" class="icohouse"></ion-icon>
        Maria Marcela 
        <ion-icon name="settings-outline" class="config"></ion-icon>
      </div>

      <div class="graus">
        <span class="grau">Mãe</span> 
        <span class="nascimento">20/05/1978</span>
      </div>

      <div class="interesses">
        <p>Interesses:</p>
      </div>

      <div class="form">
        <ion-item>
          <!--<ion-label position="floating">Qual seu nome</ion-label>-->
          <ion-input placeholder="ESCREVA AQUI SUA TAG"></ion-input>
         
        </ion-item>
      </div>

      <div class="tags">
        <ion-badge color="warning" class="gadge2">Bordados</ion-badge>
        <ion-badge color="warning" class="gadge2">Cinema</ion-badge>
        <ion-badge color="warning" class="gadge2">Gatos</ion-badge>
        <ion-badge color="warning" class="gadge2">Bingo</ion-badge>
        <ion-badge color="warning" class="gadge2">Café</ion-badge>
        <ion-badge color="warning" class="gadge2">Chocolate</ion-badge>
        <ion-badge color="warning" class="gadge2">Séries de TV</ion-badge>
        <ion-badge color="warning" class="gadge2">Chá</ion-badge>
        <ion-badge color="warning" class="gadge2">Filmes românticos</ion-badge>
        <ion-badge color="warning" class="gadge2">Cachorros</ion-badge>
        <ion-badge color="warning" class="gadge2">Música eletrônica</ion-badge>
        <ion-badge color="warning" class="gadge2">Piano</ion-badge>
        <ion-badge color="warning" class="gadge2">Rosas</ion-badge>
        <ion-badge color="warning" class="gadge2">Tai Chi Chuan</ion-badge>
        <ion-badge color="warning" class="gadge2">Cerâmica</ion-badge>
        <ion-badge color="warning" class="gadge2">Passear</ion-badge>
        <ion-badge color="warning" class="gadge2">Tango</ion-badge>
        <ion-badge color="warning" class="gadge2">Palavras Cruzadas</ion-badge>
        <ion-badge color="warning" class="gadge2">Televisão</ion-badge>
        <ion-badge color="warning" class="gadge2">Livros de ação</ion-badge>
        <ion-badge color="warning" class="gadge2">Praia</ion-badge>
        <ion-badge color="warning" class="gadge2">Karaokê</ion-badge>
      </div>


    </div>

  </div>
  
  </ion-content>
  