

<ion-content>

  <div class="queri">

    <div class="favicon">
      <img src="../../assets/img/favicon.png">
    </div>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>

    <ion-icon name="close-outline" class="icoclose" (click)="fechar()"></ion-icon>


    <div class="fotoperfil">
      <img src="../../assets/img/foto.png">
    </div>

    <div class="infos1">
      <div class="nome">
        <ion-icon name="home-outline" class="icohouse"></ion-icon>
        Maria Marcela 
        <ion-icon name="settings-outline" class="config"></ion-icon>
      </div>

      <div class="graus">
        <span class="grau">Mãe</span> 
        <span class="nascimento">20/05/1978</span>
      </div>

      <div class="interesses">
        <p><img src="../../assets/img/calen.png" class="calen">  Adicionar uma nova data</p>
      </div>

    </div>

    <div class="div22">
      <p>Personalizada <img src="../../assets/img/edit2.png" class="edit2"></p>
    </div>

    <div class="tags33">
      
      <ion-badge class="" id="id1" (click)="id1()">Carnaval</ion-badge>
      <ion-badge class="" id="id2" (click)="id2()">Dia do Trabalho</ion-badge>
      <ion-badge class="" id="id3" (click)="id3()">Natal</ion-badge>
      <ion-badge class="spanselec" id="id4" (click)="id4()">Finados</ion-badge>
      <ion-badge class="" id="id5" (click)="id5()">Dia dos Avós</ion-badge>
      <ion-badge class="" id="id6" (click)="id6()">Finados</ion-badge>
      <ion-badge class="" id="id7" (click)="id7()">Ano novo</ion-badge>
      <ion-badge class="" id="id8" (click)="id8()">Páscoa</ion-badge>
      <ion-badge class="spanselec" id="id9" (click)="id9()">Corpus Christi</ion-badge>
    </div>

    <div class="btn22">
      <ion-grid class="grid22">
        <ion-row class="linha1"> 
          <ion-col size="3" class="imgbtn">
            <div class="imgcol">
              <img src="../../assets/img/rel.png">
            </div>
          </ion-col>
          <ion-col size="9">
            <div class="btn22" (click)="ajustarate()">
              <p>Ajustar<br>
                antecedência</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>
  
  </ion-content>
  