

<ion-content>

  <div class="queri">

    <div class="favicon">
      <img src="../../assets/img/favicon.png">
    </div>

    <ion-icon name="close-outline" class="icoclose" (click)="fechar()"></ion-icon>

    <div class="titulo12">
      <h3 class="h3-1">Conheça a Daybee</h3>
    </div>
    
    <p class="text1">
      Somos uma plataforma digital que nasceu para facilitar o seu dia-a-dia. Quer saber como? Confira nossa proposta!
    </p>

    <img src="../../assets/img/img-sobre.png" class="img-sobre">

    <p class="text2">
      Quem nunca esqueceu aquele aniversário do pai, da mãe, de um amigo , o aniversário de casamento ou namoro? Nada legal, imagino que todos temos uma história destas e não pega nada bem.<br><br>

      Pensando nisso, nasceu a DayBee, uma plataforma digital onde você pode cadastrar todas as pessoas especiais da sua vida e suas comemorações, tudo ilimitado, sem restrições de pessoas e datas especiais, desse modo, iremos te lembrar antes de cada comemoração. Nunca mais você vai passar por aquele momento desagradável de esquecer uma data de quem você ama.<br><br>

      E não é só isso! Você pode adquirir o presente do mês, de forma rápida e segura e enviaremos um presente com a cara do seu queridinho. Se preferir pode adquirir um cartão presente para usar como quiser.<br><br>

      Além das opções de presentes do mês, seu queridinho também receberá uma mensagem personalizada no WhatsApp em cada comemoração.
    </p>

  </div>
  
  </ion-content>
  