
<ion-content>

  <div class="login2">
  
    <div class="logo">
      <img src="../../assets/img/logo.png">
    </div>

    <p class="p2">Escolha uma foto sua</p>
  
    <div class="form">
      
      <div class="imagem">
        <img src="../../assets/img/bee5.png" class="foto">
        <img src="../../assets/img/camera.png" class="camera" (click)="presentActionSheet()">
      </div>
      
  
      <div class="linha1">
        <ion-icon name="arrow-forward-outline" (click)="proximo()"></ion-icon>
      </div>
  
      <div class="btns4">
        <a (click)="login()">Entre com Google ou Facebook</a>
      </div>

      
  
    </div>
  
  </div>
  
  </ion-content>

  