

<ion-content>

  <div class="queri">

    <div class="favicon">
      <img src="../../assets/img/favicon.png">
    </div>

    <ion-icon name="close-outline" class="icoclose" (click)="fechar()"></ion-icon>

    <div class="titulo12">
      <h3 class="h3-1">Ajuda</h3>
    </div>
    

    <div class="infos1">
  
      <h3 class="h345">Está com dúvidas?<br>
        Fale com o suporte<br>
        da Daybee.</h3>

      <div class="botoes">

        <ion-button shape="round" class="btn11"><ion-icon name="logo-whatsapp"></ion-icon> Suporte via WhatsApp</ion-button>

        <ion-button shape="round" class="btn11"><ion-icon name="mail-outline"></ion-icon> Suporte via E-mail</ion-button>

      </div>

    </div>


  </div>
  
  </ion-content>
  