

<ion-content>

  <div class="queri">

    <div class="favicon">
      <img src="../../assets/img/favicon.png">
    </div>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>

    <ion-icon name="close-outline" class="icoclose" (click)="voltar()"></ion-icon>


    <div class="conteudoconfirm">
      <h3>Parabéns,</h3>

      <img src="../../assets/img/foto4.png">

      <h3 class="nome">Doralice Alice</h3>

      <p class="text1">
        você agora é<br>
        um Daybee<br>
        Premium!
      </p>

      <div class="btn">
        <ion-button shape="round" class="btn3" (click)="confirmar()">
          <ion-icon name="gift-outline"></ion-icon> QUERO PRESENTEAR!
        </ion-button>
      </div>

    </div>



     
      <div class="espaco">

      </div>

      

    </div>

  </ion-content>
  